[Unit]
Description=welcomer
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/welcomer
ExecStart=/opt/welcomer/welcomer.mjs
EnvironmentFile=/opt/welcomer/.env

[Install]
WantedBy=multi-user.target
